<%= turbo_frame_tag comment do %>
  <div class="card card-lg card-border shadow-sm mt-4 <%= comment.padding %>" id="<%= "comment-#{comment.id}" %>">
    <%= link_to user_path(comment.user) do %>
      <div class="avatar absolute -left-6 top-1/2 transform -translate-y-1/2">
        <div class="w-12 rounded-full">
          <% if comment.user.avatar.attached? %>
            <%= image_tag cdn_image_url(comment.user.avatar.variant(resize_to_limit: [160, 160]).processed) %>
          <% else %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="card-body pb-2 pr-6">
      <div class="flex justify-between">
        <h3 class="card-title text-sm lg:text-lg">
          <span><%= link_to comment.user.name, user_path(comment.user) %></span><span class="text-gray-500 font-light"><%= comment.user.title %></span>
        </h3>
        <% if comment.deleted_at.nil? %>
          <%= render partial: "votes/comment_vote", locals: { comment: comment } %>
        <% end %>
      </div>
      <h4 class="text-sm text-gray-500"><%= link_to l(comment.created_at, locale: :uk), post_path(comment.post, anchor: "comment-#{comment.id}") %></h4>
      <div class="prose lg:prose-lg light:text-black dark:text-base-content !max-w-none">
        <% if comment.deleted_at.present? %>
          <%= content_for_deleted_comment(comment) %>
        <% else %>
          <%= comment.content %>
        <% end %>
      </div>
      <div class="card-actions justify-end">
        <% if comment.deleted_at.nil? %>
          <% if can? :update, comment %>
            <%= link_to edit_post_comment_path(post_id: comment.post_id, id: comment.id), class: "btn btn-sm btn-outline" do %>
              <span>📝</span><span>Редагувати</span>
            <% end %>
          <% end %>
          <% if can? :destroy, comment %>
            <%= button_to post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, class: "btn btn-sm btn-outline" do %>
              <span>🗑</span><span>Видалити</span>
            <% end %>
          <% end %>
          <%= link_to new_post_comment_path(parent_id: comment.id, post_id: comment.post.id), data: { turbo_frame: "comment_#{comment.id}_reply" }, class: "btn btn-sm btn-outline" do %>
            <span>💬</span><span>Відповісти</span>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "comment_#{comment.id}_reply" %>
