<%= turbo_frame_tag comment do %>
  <div class="card card-lg card-border shadow-sm mt-4 <%= comment.padding %>">
    <div class="avatar absolute -left-6 top-1/2 transform -translate-y-1/2">
      <div class="w-12 rounded-full">
        <% if comment.user.avatar.attached? %>
          <%= image_tag cdn_image_url(comment.user.avatar.variant(resize_to_limit: [160, 160]).processed) %>
        <% else %>
        <% end %>
      </div>
    </div>
    <div class="card-body pb-2 pr-6">
      <div class="prose text-black !max-w-none">
        <%= comment.content %>
      </div>
      <div class="card-actions justify-end">
        <% if can? :update, comment %>
          <%= link_to edit_post_comment_path(post_id: comment.post_id, id: comment.id), class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>📝</span><span>Редагувати</span>
          <% end %>
          <%= button_to post_comment_path(post_id: comment.post_id, id: comment.id), method: :delete, class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>🗑</span><span>Видалити</span>
          <% end %>
        <% end %>
        <%= link_to new_post_comment_path(parent_id: comment.id, post_id: comment.post.id), data: { turbo_frame: "comment_#{comment.id}_reply" }, class: "btn btn-sm btn-neutral btn-outline" do %>
          <span>💬</span><span>Відповісти</span>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<%= turbo_frame_tag "comment_#{comment.id}_reply" %>
