<%= form_with(model: [post, comment]) do |f| %>
  <div class="card card-border shadow-sm text-black mt-4">
    <div class="card-body pb-2 pr-6">
      <%= rhino_editor_for(f, :content, id: "post_#{post.id}_comment_#{comment.id}") %>
    </div>
    <div class="card-actions justify-end p-4 pt-0 pr-6">
      <% if comment.persisted? %>
        <%= f.submit "✅Зберегти", class: "btn btn-neutral btn-outline" %>
        <%= link_to "❌Скасувати", post_comment_path(comment), class: "btn btn-neutral btn-outline" %>
      <% else %>
        <%= f.submit "✅Додати", class: "btn btn-neutral btn-outline" %>
      <% end %>
    </div>
  </div>
<% end %>
