<%= form_with(model: [post, comment]) do |f| %>
  <% if @parent_id.present? %>
    <%= f.hidden_field :parent_id, value: @parent_id %>
  <% end %>
  <div class="card card-border shadow-sm light:text-black dark:text-base-content mt-4">
    <div class="card-body pb-2 pr-6">
      <% if @parent_id.present? %>
        <%= rhino_editor_for(f, :content, id: "post_#{post.id}_comment_#{@parent_id}_reply") %>
      <% else %>
        <%= rhino_editor_for(f, :content, id: "post_#{post.id}_comment_#{comment.id}") %>
      <% end %>
    </div>
    <div class="card-actions justify-end p-4 pt-0 pr-6">
      <% if comment.persisted? %>
        <%= f.button type: "submit", class: "btn btn-sm btn-outline" do %>
          <span>✅</span><span>Зберегти</span>
        <% end %>
        <%= link_to post_comment_path(comment), class: "btn btn-sm btn-outline" do %>
          <span>❌</span><span>Скасувати</span>
        <% end %>
      <% else %>
        <%= f.button type: "submit", class: "btn btn-sm btn-outline" do %>
          <span>✅</span><span>Додати</span>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
