<%= form_with(model: comment) do |form| %>
  <%= hidden_field_tag :post_id, post.id %>
  <%= hidden_field_tag :parent_id, local_assigns[:parent]&.id %>

  <div>
    <%= form.rich_text_area :content, id: "comment_#{local_assigns[:parent]&.id}_content" %>
  </div>

  <div>
    <% target = local_assigns[:parent] || comment %>
    <% if target&.persisted? %>
      <%= form.submit "Зберегти", class: "btn" %>
      <%= link_to "Скасувати", comment_path(target, post_id: post.id) %>
    <% else %>
      <%= form.submit "Додати", class: "btn" %>
    <% end %>
  </div>
<% end %>