<div class="container mx-auto w-7/8 lg:w-3xl space-y-4">
  <% if @user.newcomer? %>
    <article class="prose lg:prose-lg">
      Заповни інформацію про себе — контакти, посаду
    </article>
  <% end %>
  <%= form_with model: @user do |f| %>
    <div class="card card-border shadow-sm">
      <div class="card-body">
        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Юзернейм</legend>
          <%= f.text_field :username, class: "w-full min-w-full input lg:input-lg" %>
          <p class="label">rozhok</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Ім'я</legend>
          <%= f.text_field :name, class: "w-full min-w-full input lg:input-lg" %>
          <p class="label">Як вас звати</p>
        </fieldset>
        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Посада</legend>
          <%= f.text_field :title, class: "w-full min-w-full input lg:input-lg" %>
          <p class="label">Ким працюєте?</p>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Компанія</legend>
          <%= f.text_field :company, class: "w-full min-w-full input lg:input-lg" %>
          <p class="label">Де працюєте?</p>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Де знаходитесь</legend>
          <%= f.text_field :location, class: "w-full min-w-full input lg:input-lg" %>
          <p class="label">Звідки ви?</p>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Як з вами зв'язатися</legend>
          <div class="overflow-x-auto">
            <%= rhino_editor_for(f, :contacts) %>
          </div>
          <p class="label">Месенджери, соціальні мережі</p>
        </fieldset>

        <fieldset class="fieldset">
          <legend class="fieldset-legend sm:text-lg">Фотографія</legend>
          <%= f.file_field :avatar, class: "file-input" %>
        </fieldset>
      </div>
      <div class="card-actions justify-end p-4 pt-0 pr-6">
        <%= f.button type: "submit", class: "btn btn-sm lg:btn-md btn-outline" do %>
          <span>✅</span><span>Зберегти</span>
        <% end %>
        <%= link_to :back, class: "btn btn-sm lg:btn-md btn-outline" do %>
          <span>❌</span><span>Скасувати</span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>