<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start">
    <%= link_to "Ріжок🍦Клуб", root_path, class: "btn btn-ghost text-xl" %>
  </div>

  <div class="navbar-end">

    <ul class="menu menu-horizontal hidden sm:flex space-x-2">
      <% if Current.user.present? %>
        <li>
          <%= link_to profile_path, class: "btn btn-outline" do %>
            <span>👤</span><span>Профіль</span>
          <% end %>
        </li>
        <li>
          <% if can? :create, Post %>
            <%= link_to new_post_path, class: "btn btn-outline" do %>
              <span>✍️</span><span>Написати</span>
            <% end %>
          <% end %>
        </li>
      <% else %>
        <% if !current_page?(sign_in_path) && !current_page?(sign_up_path) %>
          <li><%= link_to "Вхід", sign_in_path, class: "btn btn-outline" %></li>
        <% end %>
      <% end %>
    </ul>

    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost sm:hidden">
        <%= inline_svg_tag "icons/burger.svg" %>
      </div>
      <ul tabindex="-1" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <% if Current.user.present? %>
          <li><%= link_to profile_path, class: "text-lg" do %>
              <span>👤</span><span>Профіль</span>
            <% end %>
          </li>
          <li>
            <% if can? :create, Post %>
              <%= link_to new_post_path, class: "text-lg" do %>
                <span>✍️</span><span>Написати</span>
              <% end %>
            <% end %>
          </li>
        <% else %>
          <% if !current_page?(sign_in_path) && !current_page?(sign_up_path) %>
            <li><%= link_to "Вхід", sign_in_path %></li>
          <% end %>
        <% end %>
      </ul>
    </div>

  </div>
</div>