<div class="container mx-auto w-7/8">
  <%= form_with model: @post do |f| %>
    <div class="card card-border shadow-sm text-black">
      <div class="card-body">

        <fieldset class="fieldset">
          <%= f.select :post_type, Post::POST_TYPES, {}, { class: "select" } %>
          <span class="label">Тип посту</span>
        </fieldset>

        <fieldset class="fieldset">
          <%= f.text_field :title, class: "w-full min-w-full input input-l #{@post.errors[:title].any? ? 'input-error' : ''}" %>
          <p class="label <%= @post.errors[:title].any? ? 'text-error' : '' %>">
            <% if @post.errors[:title].any? %>
              <span class="label-text-alt text-error"><%= @post.errors[:title].first %></span>
            <% else %>
              Назва посту
            <% end %>
          </p>
        </fieldset>

        <fieldset class="fieldset">
          <%= f.text_field :link, class: "w-full min-w-full input input-l #{@post.errors[:link].any? ? 'input-error' : ''}" %>
          <p class="label <%= @post.errors[:link].any? ? 'text-error' : '' %>">
            <% if @post.errors[:link].any? %>
              <span class="label-text-alt text-error"><%= @post.errors[:link].first %></span>
            <% else %>
              Посилання (якщо це проєкт або пост-посилання)
            <% end %>
          </p>
        </fieldset>

        <fieldset class="fieldset">
          <div class="flex gap-4">
            <label class="flex items-center gap-2 cursor-pointer">
              <%= f.radio_button :is_public, true, class: "radio radio-primary" %>
              <span class="label-text">🌎</span>
              <span class="label-text">Публічний — будь-хто зможе прочитати пост за посиланням</span>
            </label>
            <label class="flex items-center gap-2 cursor-pointer">
              <%= f.radio_button :is_public, false, class: "radio radio-primary" %>
              <span class="label-text">🔐</span>
              <span class="label-text">Приватний — доступний тільки для учасників Клубу</span>
            </label>
          </div>
          <span class="label">Видимість посту</span>
        </fieldset>

        <div class="<%= @post.errors[:content].any? ? 'border-2 border-error rounded-lg' : '' %>">
          <%= rhino_editor_for(f, :content) %>
        </div>

        <% if @post.errors[:content].any? %>
          <p class="label text-error mt-2">
            <span class="label-text-alt text-error"><%= @post.errors[:content].first %></span>
          </p>
        <% end %>

      </div>
      <div class="card-actions justify-end p-4 pt-0 pr-6">
        <% if @post.created_at %>
          <!-- existing post -->
          <%= f.button type: "submit", name: "publish", class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>✅</span>
            <span>Опублікувати</span>
          <% end %>
          <% if @post.draft? %>
            <!-- saved draft -->
            <%= f.button type: "submit", name: "draft", class: "btn btn-sm btn-neutral btn-outline" do %>
              <span>💾</span><span>Зберегти чернетку</span>
            <% end %>
          <% end %>
          <%= link_to :back, class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>❌</span>
            <span>Скасувати</span>
          <% end %>
        <% else %>
          <!-- new post -->
          <%= f.button type: "submit", name: "publish", class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>✅</span><span>Опублікувати</span>
          <% end %>
          <%= f.button type: "submit", name: "draft", class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>💾</span><span>Зберегти чернетку</span>
          <% end %>
          <%= link_to :back, class: "btn btn-sm btn-neutral btn-outline" do %>
            <span>❌</span><span>Скасувати</span>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>