<% content_for(:title) {"#{@post.title} | Ріжок Клуб"} %>
<% content_for(:og_image) {@post.og_image} %>
<% content_for(:og_description) {@post.og_description} %>
<div class="container mx-auto w-7/8">
  <div class="card card-border shadow-sm mb-8">
    <div class="card-body prose text-black !max-w-none">
      <% case @post.state %>
      <% when "pending" %>
        <div role="alert" class="alert alert-warning">
          <%= inline_svg_tag "icons/warning.svg" %>
          <span>Пост очікує схвалення</span>
        </div>
      <% when "rejected" %>
        <div role="alert" class="alert alert-error">
          <%= inline_svg_tag "icons/warning.svg" %>
          <span>Пост потребує допрацювання</span>
        </div>
      <% end %>
      <h1 class="!mb-0 text-3xl font-bold text-center"><%= @post.full_title %></h1>
      <h3 class="text-md text-center text-gray-700 mt-0">
        <% if @post.is_public? %>
          <span>🌎</span><span>Публічний пост</span>
        <% else %>
          <span>🔐</span><span>Тільки для своїх</span>
        <% end %>
      </h3>
      <h4 class="text-sm text-center text-gray-500 mt-0"><%= l(@post.created_at.to_date, locale: :uk) %></h4>
      <%= render partial: "votes/post_vote", locals: { post: @post } %>
      <% if @post.post_type == "link" || @post.post_type == "project" %>
        <h2 class="!mb-0 !mt-0 text-xl font-bold">
          <span>👉</span><%= link_to @post.link, @post.link.html_safe, class: "link" %></h2>
      <% end %>
      <%= @post.content %>
    </div>

    <div class="card-actions justify-end p-4 pt-0 pr-6">
      <% if @post.state == "pending" %>
        <% if can? :approve, Post %>
          <%= button_to approve_post_path(@post), method: :patch, class: "btn btn-sm btn-success btn-outline" do %>
            <span>✅</span><span>Затвердити</span>
          <% end %>
        <% end %>
        <% if can? :reject, Post %>
          <%= button_to reject_post_path(@post), method: :patch, class: "btn btn-sm btn-warning btn-outline" do %>
            <span>❌</span><span>На доопрацювання</span>
          <% end %>
        <% end %>
      <% end %>
      <% if can? :update, @post %>
        <%= link_to edit_post_path(@post.id), class: "btn btn-sm btn-neutral btn-outline" do %>
          <span>📝</span><span>Редагувати</span>
        <% end %>
      <% end %>
    </div>
  </div>

  <%= render partial: "users/profile", locals: { user: @post.user } %>

  <h2 id="comments" class="text-xl mb-8">Коментарі👇</h2>

  <% if can? :read, Comment %>
    <%= turbo_frame_tag "new_comment_form" do %>
      <%= render partial: "comments/form", locals: { post: @post, comment: @post.comments.build } %>
    <% end %>
  <% end %>

  <%= render @comments %>

  <%= turbo_frame_tag Comment.new %>
</div>
