<!DOCTYPE html>
<html lang="uk">
<head>
  <title><%= content_for(:title) || "Ріжок Клуб" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <% if Rails.env.production? %>
    <%= Sentry.get_trace_propagation_meta.html_safe %>
  <% end %>
</head>

<body>
<%= render "shared/navbar" %>
<main class="container mx-auto mt-4 flex">
  <%= yield %>
</main>
</body>
</html>
